<div class="contenedor">

    <mat-expansion-panel style="margin-bottom: 30px;" [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header>
            <mat-panel-title style="font-size: x-large; font-weight: 500;">
                {{title1}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="divInput">
            <mat-icon class="icono" aria-label="Side nav toggle icon">person</mat-icon>
            <mat-form-field class="input" appearance="fill">
                <mat-label>Titulo</mat-label>
                <input matInput [(ngModel)]="title1" />
            </mat-form-field>
        </div>

        <quill-editor [(ngModel)]="editorContent1" [styles]="{height: '200px'}" [modules]="editorModules"
            (onEditorChanged)="changedEditor($event, 1)"></quill-editor>

        <mat-card-footer style="padding: 16px;">
            <button class="button-crear" mat-raised-button color="primary" (click)="guardar(1)">Guardar </button>
        </mat-card-footer>
    </mat-expansion-panel>

    <!-- Panel 2 -->
    <mat-expansion-panel style="margin-bottom: 30px;" (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title style="font-size: x-large; font-weight: 500;">
                {{title2}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="divInput">
            <mat-icon class="icono" aria-label="Side nav toggle icon">person</mat-icon>
            <mat-form-field class="input" appearance="fill">
                <mat-label>Titulo</mat-label>
                <input matInput [(ngModel)]="title2" />
            </mat-form-field>
        </div>

        <quill-editor [(ngModel)]="editorContent2" [styles]="{height: '200px'}" [modules]="editorModules"
            (onEditorChanged)="changedEditor($event, 2)"></quill-editor>

        <mat-card-footer style="padding: 16px;">
            <button class="button-crear" mat-raised-button color="primary" (click)="guardar(2)">Guardar </button>
        </mat-card-footer>
    </mat-expansion-panel>

    <!-- Panel 3 -->
    <mat-expansion-panel style="margin-bottom: 30px;" (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title style="font-size: x-large; font-weight: 500;">
                {{title3}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="divInput">
            <mat-icon class="icono" aria-label="Side nav toggle icon">person</mat-icon>
            <mat-form-field class="input" appearance="fill">
                <mat-label>Titulo</mat-label>
                <input matInput [(ngModel)]="title3" />
            </mat-form-field>
        </div>

        <quill-editor [(ngModel)]="editorContent3" [styles]="{height: '200px'}" [modules]="editorModules"
            (onEditorChanged)="changedEditor($event, 3)"></quill-editor>

        <mat-card-footer style="padding: 16px;">
            <button class="button-crear" mat-raised-button color="primary" (click)="guardar(3)">Guardar </button>
        </mat-card-footer>
    </mat-expansion-panel>

    <!-- Panel 4 -->
    <mat-expansion-panel style="margin-bottom: 30px;" (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title style="font-size: x-large; font-weight: 500;">
                {{title4}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="divInput">
            <mat-icon class="icono" aria-label="Side nav toggle icon">person</mat-icon>
            <mat-form-field class="input" appearance="fill">
                <mat-label>Titulo</mat-label>
                <input matInput [(ngModel)]="title4" />
            </mat-form-field>
        </div>

        <quill-editor [(ngModel)]="editorContent4" [styles]="{height: '200px'}" [modules]="editorModules"
            (onEditorChanged)="changedEditor($event, 4)"></quill-editor>

        <mat-card-footer style="padding: 16px;">
            <button class="button-crear" mat-raised-button color="primary" (click)="guardar(4)">Guardar </button>
        </mat-card-footer>
    </mat-expansion-panel>

    <!-- Panel 5 -->
    <mat-expansion-panel style="margin-bottom: 30px;" (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title style="font-size: x-large; font-weight: 500;">
                {{title5}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="divInput">
            <mat-icon class="icono" aria-label="Side nav toggle icon">person</mat-icon>
            <mat-form-field class="input" appearance="fill">
                <mat-label>Titulo</mat-label>
                <input matInput [(ngModel)]="title5" />
            </mat-form-field>
        </div>

        <quill-editor [(ngModel)]="editorContent5" [styles]="{height: '200px'}" [modules]="editorModules"
            (onEditorChanged)="changedEditor($event, 5)"></quill-editor>

        <mat-card-footer style="padding: 16px;">
            <button class="button-crear" mat-raised-button color="primary" (click)="guardar(5)">Guardar </button>
        </mat-card-footer>
    </mat-expansion-panel>

    <!-- Panel 6 -->
    <mat-expansion-panel style="margin-bottom: 30px;" (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title style="font-size: x-large; font-weight: 500;">
                {{title6}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="divInput">
            <mat-icon class="icono" aria-label="Side nav toggle icon">person</mat-icon>
            <mat-form-field class="input" appearance="fill">
                <mat-label>Titulo</mat-label>
                <input matInput [(ngModel)]="title6" />
            </mat-form-field>
        </div>

        <quill-editor [(ngModel)]="editorContent6" [styles]="{height: '200px'}" [modules]="editorModules"
            (onEditorChanged)="changedEditor($event, 6)"></quill-editor>

        <mat-card-footer style="padding: 16px;">
            <button class="button-crear" mat-raised-button color="primary" (click)="guardar(6)">Guardar </button>
        </mat-card-footer>
    </mat-expansion-panel>

    <!-- Panel 7 -->
    <mat-expansion-panel style="margin-bottom: 30px; min-width: 100%;" (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title style="font-size: x-large; font-weight: 500;">
                {{title7}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="divInput">
            <mat-icon class="icono" aria-label="Side nav toggle icon">person</mat-icon>
            <mat-form-field class="input" appearance="fill">
                <mat-label>Titulo</mat-label>
                <input matInput [(ngModel)]="title7" />
            </mat-form-field>
        </div>
        <div style="width: 100%;">
            <div class="tipo-archivo" style="margin: auto;">
                <div class="input-file" matTooltip="Click para adjuntar Archivos">
                    <label class="custom-file">
                        <input type="file" (change)="handleArchivo($event)">  
                        <div style="text-align: right; margin-right: 15px;">
                            <mat-icon style="margin-top: 5px;">cloud_upload</mat-icon>
                        </div> 
                        <div>
                            <span>Subir Logo</span> 
                        </div>
                                                                    
                    </label>
                </div>
                <div style="margin: 15px; text-align: center; color: red;" *ngIf="nombreImagen != ''">
                    <img src="{{imgBase64}}" alt=""><h3>Logo: {{nombreImagen}}</h3>
                </div>
                
            </div>
        </div>

        <mat-card-footer style="padding: 16px;">
            <div class="button">
                <button class="btn" mat-raised-button color="primary" (click)="guardar(7)">Guardar</button>
            </div>
        </mat-card-footer>
    </mat-expansion-panel>



    <!-- <mat-divider> </mat-divider>

    <mat-card class="matcard">
        <h1 (click)="expand2 = !expand2">{{title2}}</h1>
        <div *ngIf="expand2">
        <div class="divInput">
            <mat-icon class="icono" aria-label="Side nav toggle icon">person</mat-icon>
            <mat-form-field class="input" appearance="fill">
                <mat-label>Titulo</mat-label>
                <input matInput [(ngModel)]="title2" />
            </mat-form-field>
        </div>

        <quill-editor [styles]="{height: '200px'}" [modules]="editorModules"
            (onEditorChanged)="changedEditor($event, 2)"></quill-editor>

        <mat-card-footer style="padding: 16px;">
            <button class="button-crear" mat-raised-button color="primary" (click)="guardar(2)">Guardar </button>
        </mat-card-footer>
    </div>
    </mat-card>

    <mat-divider> </mat-divider>

    <mat-card class="matcard">
        <h1 (click)="expand3 = !expand3">{{title3}}</h1>
        <div *ngIf="expand3">
        <div class="divInput">
            <mat-icon class="icono" aria-label="Side nav toggle icon">person</mat-icon>
            <mat-form-field class="input" appearance="fill">
                <mat-label>Titulo</mat-label>
                <input matInput [(ngModel)]="title3" />
            </mat-form-field>
        </div>

        <quill-editor [styles]="{height: '200px'}" [modules]="editorModules"
            (onEditorChanged)="changedEditor($event, 3)"></quill-editor>

        <mat-card-footer style="padding: 16px;">
            <button class="button-crear" mat-raised-button color="primary" (click)="guardar(3)">Guardar </button>
        </mat-card-footer>
    </div>
    </mat-card> -->

</div>