.contenedor { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input,
.contenedor div{
    width: 100%;    
}

.select,
.datepicker {
    margin-right: 15px;
}

.tipo-archivo{
    display: flex;
    flex-direction: column;
    margin: auto;
}

input[type='file']{
    display: none;
}

.icon{
    font-size: 5vw;
    cursor: pointer;
}

.logo{
    margin-top: 10px;
}

.input-file{
    background-color: white;
    height: 54px;
    border-radius: 8px;
    padding-top: 10px;
    color: #4caf50; 
    border: 3px solid #4caf50;  
     
}


.custom-file{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.button{
    margin-left: 15px;
    margin-top: 10px;
    width: 160px;
}

.button-crear{
    float: right;
    width: 140px;
    margin-top: 10px;
}

.button-atras{
    float: left;
    width: 140px;
    margin-top: 10px;
}

.matcard{
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
width: 100%;
}

.divInput{
    display: flex;
    flex-direction: row;
}

.icono {
    margin-right: 10px;
    margin-top: 15px;
}


input.input-monto::-webkit-outer-spin-button,
input.input-monto::-webkit-inner-spin-button {
  display: none;
}

@media (max-width: 600px) {
    .matcard{
        width: auto;
    }
}