<div class="contenedor">
    <mat-card class="matcard">
        <h1>Crear encuesta</h1>
        <div class="divInput">
            <mat-form-field class="input" appearance="fill">
                <mat-label>Nombre de la Encuesta</mat-label>
                <input matInput [(ngModel)]='nombreEncuesta' />
            </mat-form-field>
        </div>
        <div class="divInput">    
            <mat-icon class="icono" aria-label="Side nav toggle icon">quiz</mat-icon>
            <mat-form-field class="input" appearance="fill">
                <mat-label>Ingrese su pregunta</mat-label>
                <input matInput [(ngModel)]='pregunta' />
            </mat-form-field>
        </div>
        <div style="margin-left: 35px;">
            <mat-slide-toggle class="toggle" [(ngModel)]="checked"><p>Pregunta con respuestas de opción multiple</p>
                
            </mat-slide-toggle>
        </div>

        <div class="respuestaMultiple" *ngIf="checked">
            <mat-form-field class="input" appearance="fill">
                <mat-label>Respuesta opción 1</mat-label>
                <input matInput [(ngModel)]='respuesta1' />
            </mat-form-field>
            <mat-form-field class="input" appearance="fill">
                <mat-label>Respuesta opción 2</mat-label>
                <input matInput [(ngModel)]='respuesta2' />
            </mat-form-field>
            <mat-form-field class="input" appearance="fill">
                <mat-label>Respuesta opción 3</mat-label>
                <input matInput [(ngModel)]='respuesta3' />
            </mat-form-field>
            <mat-form-field class="input" appearance="fill">
                <mat-label>Respuesta opción 4</mat-label>
                <input matInput [(ngModel)]='respuesta4' />
            </mat-form-field>

        </div>

        <div class="btn-agregar">
            <button mat-raised-button color="accent" (click)="agregarPregunta()">Agregar pregunta</button>
        </div>
        <mat-card-footer style="padding: 16px;">
            <hr>
            <button [disabled]="isLoading" class="button-atras" mat-raised-button color="default" (click)="irAtras()">
              Atrás
            </button>
            <button [disabled]="isLoading" class="button-crear" mat-raised-button color="primary" (click)="guardar()">
              <div style="color: white;" *ngIf="!isLoading; else proyectosTemplate">
                Crear Encuesta
              </div>
              <ng-template #proyectosTemplate>
                <div style="padding-top: 12px; padding-bottom: 12px;padding-left: 50px;">
                  <mat-spinner diameter="15"></mat-spinner>
                </div>
              </ng-template>
            </button>
          </mat-card-footer>
    </mat-card>
</div>

<div class="contenedor" style="margin-top: 20px;">
    <mat-card class="matcard">
        <h2>Visualizar Encuesta {{nombreEncuesta}}</h2>
        <div class="pregunta-respuesta" *ngFor="let item of preguntas; let i=index" >
                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                    <p class="pregunta"><b>{{i+1}}. {{item.enunciado}}</b></p>
                    <mat-icon class="delete" matTooltip="Eliminar pregunta" (click)="delete(i)">delete</mat-icon>
                </div>
                <div *ngIf="item.tipoPregunta === 'ABIERTA'">
                    <input type="text" placeholder="Respuesta" readonly>
                </div>
                <div *ngIf="item.tipoPregunta === 'UNICA'">
                    <div *ngFor="let resp of respuestas[i];">
                        <div *ngIf="!(resp.value === '')">
                            <p ><input type="radio" disabled="disabled">{{resp.value}}</p>
                        </div>
                    </div>
            </div>
     </div>


    </mat-card>
</div>