.contenedor {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1{
 font-weight: 600;
 margin: 0 0px 30px 0px;
}  

p{    
  white-space: initial;
  word-wrap: break-word;
}

.input,
.contenedor div {
  width: 100%;
}

.select,
.datepicker {
  margin-right: 15px;
}

.button {
  margin-left: 15px;
  margin-top: 10px;
  width: 160px;
}

.button-crear {
  float: right;
  width: 140px;
  margin-top: 10px;
}

.button-atras{
  float: left;
  width: 140px;
  margin-top: 10px;
}

.matcard {
  margin: auto;
  width: 80%;
}

.pregunta {
  font-size: medium;
}

.pregunta-respuesta {
  margin-top: 20px;
}

.divInput{
  display: flex;
  flex-direction: row;
}

.icono {
  margin-right: 10px;
  margin-top: 15px;
}

input.input-monto::-webkit-outer-spin-button,
input.input-monto::-webkit-inner-spin-button {
  display: none;
}

.toggle{
    font-size: medium;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
    white-space: initial;
    word-wrap: break-word;
}

.btn-guardar, .btn-agregar{
    margin-top: 20px;
    width: 100%;    
}
.btn-agregar button{
    color: white;
}

.btn-guardar button{
    float: right;
}

.delete{
  cursor: pointer;
}

@media (max-width: 600px) {
  .matcard {
    width: auto;
  }
}
