<div class="contenedor" style="margin-top: 20px;">
    
    <mat-card class="matcard">
        <div class="encabezado">
            <h1>RESPUESTAS ENCUESTA</h1>
        </div>
        <ng-container *ngIf="load">
            <mat-spinner class="loading"></mat-spinner>
        </ng-container>
        <h2 style="margin-top: 20px;">{{nombreEncuesta}}</h2>
        <div class="pregunta-respuesta" *ngFor="let item of preguntas; let i=index">
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <p class="pregunta"><b>{{i+1}}.{{item.enunciado}}</b></p>
                <!-- <mat-icon (click)="delete(i)">delete</mat-icon> -->
            </div>
            <div *ngIf="item.tipoPregunta === 'ABIERTA'">
                <mat-form-field class="matform">
                    <mat-label>Respuesta</mat-label>
                    <input readonly matInput class="input" [(ngModel)]='item.respuesta' >
                  </mat-form-field>
            </div>
            <div *ngIf="item.tipoPregunta === 'UNICA'">
                <mat-radio-group [(ngModel)]="item.respuesta">
                    <div *ngFor="let resp of respuestas[i];" style="margin-top: 5px;">
                        <mat-radio-button disabled class="example-margin" [value]="resp.value">{{resp.value}}</mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: flex-end; margin-top: 20px;">
            <button mat-raised-button color="primary" (click)="irAtras()">Volver</button>
        </div>
    </mat-card>
</div>

