.contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .matcard {
    margin: auto;
    width: 80%;
  }

  .loading{
    margin: 50px auto;
    
  }

  .encabezado {
    margin-top: 10px;
    height: 71px;
    width: 100%;
    background-color: #AA1916;
    color: white;
    text-align: center;
    align-content: center;
  }
  
  h1{
   font-weight: 600;
   margin: 0 0px 30px 0px;
  }  
  
  p{    
    white-space: initial;
    word-wrap: break-word;
  }
  
  .input,
  .contenedor div {
    width: 100%;
  }
  
  .select,
  .datepicker {
    margin-right: 15px;
  }
  
  .button {
    margin-left: 15px;
    margin-top: 10px;
    width: 160px;
  }
  
  .button-crear {
    float: right;
    width: 140px;
    margin-top: 10px;
  }
  
  .pregunta {
    font-size: medium;
  }
  
  .pregunta-respuesta {
    margin-top: 20px;
  }
  
  .divInput {
    display: flex;
    flex-direction: column;
  }

  .matform{
    width: 100%;
  }

  
  .icono {
    margin-right: 10px;
    margin-top: 15px;
  }
  
  input.input-monto::-webkit-outer-spin-button,
  input.input-monto::-webkit-inner-spin-button {
    display: none;
  }
  
  .toggle{
      font-size: medium;
      font-weight: 500;
      margin-top: 20px;
      margin-bottom: 10px;
      white-space: initial;
      word-wrap: break-word;
  }
  
  .btn-guardar, .btn-agregar{
      margin-top: 20px;
      width: 100%;    
  }
  .btn-agregar button{
      color: white;
  }
  
  .btn-guardar button{
      float: right;
  }
  
  .respuestas{
    display: flex;
    flex-direction: row;
  }
  
  .encabezado-pregunta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .delete{
    margin-left: 10px; 
    margin-top: 15px; 
    color: #AA1916; 
    cursor: pointer;
  }
  
  @media (max-width: 600px) {
    .matcard {
      width: auto;
    }
  }
  
  