<div class="overlay" *ngIf="!load">   
    <mat-spinner class="loading"></mat-spinner>
</div>

<div *ngIf="load" class="contenedor">
    <mat-card class="matcard">
      <h1>Usuario</h1>
      <form [formGroup]="form">

        <div class="divInput">
            <mat-icon class="icono" aria-label="Side nav toggle icon">person</mat-icon>
            <mat-form-field class="input" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input [disabled]="isLoading" matInput formControlName="nombres"/>
            </mat-form-field>
        </div> 
        
        <div class="divInput">
            <mat-icon class="icono" aria-label="Side nav toggle icon">description</mat-icon>
            <mat-form-field class="input" appearance="fill">
            <mat-label>Apellidos</mat-label>
            <input [disabled]="isLoading" matInput formControlName="apellidos"/>
            </mat-form-field>
        </div>
                    
        <div class="divInput">
            <mat-icon class="icono" aria-label="Side nav toggle icon">email</mat-icon>
            <mat-form-field class="input" appearance="fill">
            <mat-label>Correo</mat-label>
            <input [disabled]="isLoading" matInput formControlName="correo" />
            </mat-form-field>
        </div>

        <div class="divInput">
            <mat-icon class="icono" aria-label="Side nav toggle icon">verified</mat-icon>
            <mat-form-field appearance="fill">
            <mat-label>Estado del Usuario</mat-label>
              <mat-select [disabled]="isLoading" formControlName="estado" class="form-control" name="rol">
                <mat-option *ngFor="let estado of listEstados" [value]="estado.value" >
                  {{estado.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> 

        <div *ngIf="userRol === 'Administrador'" class="toggle">
            <mat-slide-toggle [disabled]="isLoading" formControlName="estado" color = 'primary'>Activar Usuario</mat-slide-toggle>
        </div>
      </form>
      <mat-card-footer style="padding: 16px;">
        <hr>
        <button [disabled]="isLoading" class="button-atras" mat-raised-button (click)="irAtras()">
          Atrás
        </button>
        <button [disabled]="isLoading" class="button-crear" mat-raised-button color="primary" (click)="actualizarUser()">
          <div style="color: white;" *ngIf="!isLoading; else proyectosTemplate">
            Guardar
          </div>
          <ng-template #proyectosTemplate>
            <div style="padding-top: 12px; padding-bottom: 12px;padding-left: 50px;">
              <mat-spinner diameter="15"></mat-spinner>
            </div>
          </ng-template>
        </button>
        <button [disabled]="isLoading" class="button" mat-raised-button color="primary" (click)="cambioContrasena()">
          Cambiar Contraseña
        </button>  
      </mat-card-footer>
    </mat-card>
  </div>

