<div class="container-cambio-contrasena">
    <h3 class="titulo">Cambio de Contraseña</h3>
    <form [formGroup]="form">
    <div class="inputPassword">
        <div class="input">
            <mat-icon aria-label="Side nav toggle icon">lock_open</mat-icon>
            <mat-form-field>
                <mat-label>Contraseña Actual</mat-label>
                <input matInput [type]="hideContrasenaAct ? 'password' : 'text'" placeholder="Ingresa la contraseña actual" formControlName="contrasenaAct" class="form-control"  name="password" >
                <button mat-icon-button matSuffix (click)="hideContrasenaAct = !hideContrasenaAct" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideContrasenaAct">
                    <mat-icon>{{hideContrasenaAct ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>

    <div class="input">
        <mat-icon aria-label="Side nav toggle icon">lock_outline</mat-icon>
        <mat-form-field>
            <mat-label>Nueva contraseña</mat-label>
            <input matInput [type]="hideContrasenaNew ? 'password' : 'text'" placeholder="Ingresa la nueva contraseña" formControlName="contrasenaNew" class="form-control"  name="password" >
            <button mat-icon-button matSuffix (click)="hideContrasenaNew = !hideContrasenaNew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideContrasenaNew">
                <mat-icon>{{hideContrasenaNew ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="input">
        <mat-icon aria-label="Side nav toggle icon">lock</mat-icon>
        <mat-form-field>
            <mat-label>Confirmar nueva contraseña</mat-label>
            <input matInput [type]="hideConfirmContrasena ? 'password' : 'text'" placeholder="Confirma la nueva contraseña" formControlName="confirmContrasena" class="form-control"  name="password" >
            <button mat-icon-button matSuffix (click)="hideConfirmContrasena = !hideConfirmContrasena" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmContrasena">
                <mat-icon>{{hideConfirmContrasena ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>


    <!-- <div class="email">
        <div class="inputEmail">
            <mat-icon aria-label="Side nav toggle icon">mail_outline</mat-icon>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email" class="form-control" name="email">
            </mat-form-field>
        </div>
    </div> -->
    <div>
        <button class="button-atras" mat-raised-button mat-dialog-close>Cancelar</button>
        <button class="button-crear" mat-raised-button color="primary" [mat-dialog-close]="true" (click)="actualizarContrasena()">Actualizar</button>
    </div>
</form>
</div>