.container-cambio-contrasena {
  width: 30vw;
}

.titulo {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  margin: 5px 0 30px 0;
}

button {
  width: 120px;
}

mat-form-field {
  width: 85%;
}

mat-icon {
  margin-right: 10px;
}

.inputPassword {
  width: 100%;
}

.email {
  width: 100%;
}

.container-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button-atras{
  float: left;
  width: 140px;
  margin-top: 10px;
}

.button-crear{
  float: right;
  width: 140px;
  margin-top: 10px;
}
