<div class="contenedor" style="margin-top: 20px;">
    <mat-card class="matcard">
        <h2>{{nombreEncuesta}}</h2>
        <div class="pregunta-respuesta" *ngFor="let item of preguntas; let i=index">
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
              <p class="pregunta"><b>{{i+1}}. {{item.enunciado}}</b></p>
                <!-- <mat-icon (click)="delete(i)">delete</mat-icon> -->
            </div>
            <div *ngIf="item.tipoPregunta === 'ABIERTA'">
                <input type="text" placeholder="Respuesta" readonly>
            </div>
            <div *ngIf="item.tipoPregunta === 'UNICA'">
                <div *ngFor="let resp of respuestas[i];">
                    <div *ngIf="!(resp.value === '')">
                        <p ><input type="radio" disabled="disabled">{{resp.value}}</p>
                    </div>
                </div>
            </div>
        </div>
        <mat-card-footer style="padding: 16px;">
            <hr>
            <button [disabled]="isLoading" class="button-atras" mat-raised-button color="default" (click)="irAtras()">
              Atrás
            </button>
            <button [disabled]="isLoading" class="button-crear" mat-raised-button color="primary" (click)="eliminarEncuesta()">
              <div style="color: white;" *ngIf="!isLoading; else proyectosTemplate">
                Eliminar Encuesta
              </div>
              <ng-template #proyectosTemplate>
                <div style="padding-top: 12px; padding-bottom: 12px;padding-left: 50px;">
                  <mat-spinner diameter="15"></mat-spinner>
                </div>
              </ng-template>
            </button>
          </mat-card-footer>
    </mat-card>
</div>