<div class="btn-usuarios">  
  <!-- <button mat-button color="primary">
    <mat-icon>description</mat-icon> Generar Informe
  </button> -->
</div>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort >

    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i = index" >
      <th mat-header-cell *matHeaderCellDef> {{columnas[i]}} </th>
      <td class="fila" matTooltip="Click para ver mas información" mat-cell *matCellDef="let element" (click)="verUsuario(element)"> {{element[column]}} </td> 
    </ng-container>   
    

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td style="height: 250px;" class="mat-cell" colspan="4">
      <mat-spinner class="loading"></mat-spinner>
    </td>
  </tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>