.contenedor{
    width: 60%;
    min-height: 600px;
    margin-left: 5%;
    margin-top: 5%;
}

#informacionContent{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    border-radius: 0;
    font-family: 'Open Sans',sans-serif;
    box-sizing: border-box;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    z-index: 1;
    position: relative;
    }
