<div class="contenedor">
    <div id="informacionContent" class="col-md-8 mb-margin-bottom-30 shadow-wrapper">
        <div class="col-md-12 col-sm-12 col-xs-12"
            style="margin-bottom:20px; border-bottom: 3px solid #aa1916; padding: 0;">
            <h1 class="pull-left" style="font-size:36px;">{{content.titulo}}</h1>
        </div>
        <div style="min-height: 700px;" [innerHTML]="content.informacion">
        </div>
    </div>
</div>