<div class="login">
      <mat-card class="card-login">
        <div class="encabezado">
          <h1>PROYECTANDO</h1>
        </div>

        <div class="card-container">          
            <form id="contactForm" class="form" [formGroup]="form">

              <div class="inputNombres">
                <div class="input">
                  <mat-icon aria-label="Side nav toggle icon">person_outline</mat-icon>
                  <mat-form-field >                  
                    <mat-label>Nombres</mat-label>
                    <input matInput placeholder="Nombres" formControlName="firstname" class="form-control"  name="firstname">
                  </mat-form-field>
                </div>
                <div class="input">
                  <mat-icon aria-label="Side nav toggle icon">person</mat-icon>
                  <mat-form-field>
                    <mat-label>Apellidos</mat-label>
                    <input matInput placeholder="Apellidos" formControlName="lastname" class="form-control"  name="lastname">
                  </mat-form-field>
                </div>
              </div>
              
              <div class="email">
                <div class="inputEmail">
                  <mat-icon aria-label="Side nav toggle icon">mail_outline</mat-icon>
                  <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email" class="form-control"  name="email">
                  </mat-form-field>
                </div>                
              </div>

              <div class="inputPassword"> 
                <div class="input">
                  <mat-icon aria-label="Side nav toggle icon">lock_outline</mat-icon>
                  <mat-form-field appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Contraseña" formControlName="password" class="form-control"  name="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                <div class="input">
                  <mat-icon aria-label="Side nav toggle icon">lock</mat-icon>
                  <mat-form-field appearance="fill">
                    <mat-label>Confirmar contraseña</mat-label>
                    <input matInput [type]="show ? 'password' : 'text'" placeholder="Confirmar contraseña" formControlName="password2" class="form-control"  name="password2">
                    <button mat-icon-button matSuffix (click)="show = !show" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="show">
                      <mat-icon>{{show ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              </div>
               
              <div class="inputSelect">
                <div class="input">
                  <mat-icon aria-label="Side nav toggle icon">people_outline</mat-icon>
                  <mat-form-field appearance="fill">
                    <mat-label>Rol</mat-label>
                    <mat-select formControlName="rol" class="form-control" name="rol">
                      <mat-option *ngFor="let rol of rols" [value]="rol.id" >
                        {{rol.nombre}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> 
                <div class="input">
                  <mat-icon aria-label="Side nav toggle icon">people_outline</mat-icon>
                  <mat-form-field appearance="fill">
                    <mat-label>Programa Académico</mat-label>
                    <mat-select formControlName="planEst" class="form-control" name="rol">
                      <mat-option *ngFor="let planEst of planesEst" [value]="planEst.value" >
                        {{planEst.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> 
              </div>           
            </form>
        </div>
        <mat-card-footer style="padding: 16px;">
          <button class="button-atras" mat-raised-button color="default" (click)="irAtras()">
            Atrás
          </button>
          <button class="button-crear" mat-raised-button color="primary" (click)="registro()">
            Registrarme
          </button>
        </mat-card-footer>
      </mat-card>
    
  </div>
