.login {
  background: whitesmoke;
  height: 100%;
  display: flex;
}

.card-login {
  width: 700px;
  margin: auto;
  background-color: white;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  display: flex;
  flex-direction: column;
}

.card-login .card-container {
  margin: auto;
  width: 100%;
}

.button-atras{
  float: left;
  width: 140px;
  margin-top: 10px;
}

.encabezado {
  margin-top: 10px;
  height: 71px;
  width: 700px;
  background-color: #AA1916;
  color: white;
  text-align: center;
}

.encabezado h1 {
  padding-top: 20px;
  font-weight: 500;
}
.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 15px;
}

button {
  width: 120px;  
}

.btn {  
  padding-top: 20px;
  margin: auto;
}

h3 {
  text-align: center;
}

mat-form-field {
  width: 85%;
}

mat-icon {
  margin-right: 10px;
}

.inputNombres,
.inputPassword,
.inputSelect {
display: flex;
flex-direction: row;
width: 100%;
justify-content: center;
}

.email{
  
width: 100%;
}

.inputEmail{
  width: 107%;
  margin-left: 10px;
}

.input{
  width: 50%;
  margin-left: 10px;
}

.button-crear{
  float: right;
  width: 140px;
  margin-top: 10px;
}