<div class="contenedor">
    <mat-card class="matcard">
      <h1>Convenio</h1>
      <form [formGroup]="form">
        <div class="divInput">
            <mat-icon class="icono" aria-label="Side nav toggle icon">person</mat-icon>
            <mat-form-field class="input" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input [disabled]="isLoading" matInput formControlName="nombre"/>
            </mat-form-field>
        </div> 
                           
        <div style="margin-left: 35px;">
            <mat-form-field class="datepicker" appearance="fill">
            <mat-label>Fecha Realizacion</mat-label>
            <input [disabled]="isLoading" matInput formControlName="fechaRealizacion" [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>     
        </div>

        <div class="divInput">
          <mat-icon class="icono" aria-label="Side nav toggle icon">task_alt</mat-icon>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Asignar Proyecto</mat-label>
            <mat-select [disabled]="isLoading" formControlName="proyecto">
              <mat-option *ngFor="let item of proyectos" [value]=item.id>{{item.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
            
        <div class="divInput">
            <mat-icon class="icono" aria-label="Side nav toggle icon">groups</mat-icon>
            <mat-form-field class="input" appearance="fill">
            <mat-label>Representante</mat-label>
            <input [disabled]="isLoading" matInput formControlName="representante" />
            </mat-form-field>
        </div>

      <div *ngIf="userRol == 'administrador'">
        <mat-icon class="icono" aria-label="Side nav toggle icon">verified</mat-icon>
        <mat-form-field style="width: 32%;" class="select" appearance="fill">
        <mat-label>Aprobar actividad</mat-label>
        <mat-select [disabled]="isLoading" formControlName="aprobarConvenio">
            <mat-option value="SI">Si</mat-option>
            <mat-option value="NO">No</mat-option>
        </mat-select>
        </mat-form-field>        
      </div>

      <div *ngIf="userRol == 'administrador'">
          <mat-icon class="icono" aria-label="Side nav toggle icon">visibility</mat-icon>
          <mat-form-field style="width: 32%;" class="select" appearance="fill">
          <mat-label>Divulgar actividad</mat-label>
          <mat-select [disabled]="isLoading" formControlName="mostrarConvenio">
              <mat-option value="SI">Si</mat-option>
              <mat-option value="NO">No</mat-option>
          </mat-select>
          </mat-form-field>        
      </div>
      <div>
        <button style="margin-left: 20px;" [disabled]="isLoading" class="button" mat-raised-button color="accent" (click)="verConvenio()">
          Ver Convenio
        </button>
      </div>
    </form>
    <mat-card-footer style="padding: 16px;">
      <hr>
      <button [disabled]="isLoading" class="button-atras" mat-raised-button color="default" (click)="irAtras()">
        Atrás
      </button>
      <button [disabled]="isLoading" class="button-crear" mat-raised-button color="primary" (click)="guardarConvenio()">
        <div style="color: white;" *ngIf="!isLoading; else proyectosTemplate">
          Guardar
        </div>
        <ng-template #proyectosTemplate>
          <div style="padding-top: 12px; padding-bottom: 12px;padding-left: 50px;">
            <mat-spinner diameter="15"></mat-spinner>
          </div>
        </ng-template>
      </button>
    </mat-card-footer>
    </mat-card>
  </div>
