<div class="contenedor">
    <div id="informacionContent" class="col-md-8 mb-margin-bottom-30 shadow-wrapper">
        <div class="col-md-12 col-sm-12 col-xs-12"
            style="margin-bottom:20px; border-bottom: 3px solid #aa1916; padding: 0;">
            <h1 class="pull-left" style="font-size:36px;">{{content.titulo}}</h1>
        </div>
        <div [innerHTML]="content.informacion">
        </div>
        <ng-container *ngIf="isLoading; else proyectosTemplate">
            <mat-spinner class="loading"></mat-spinner>
        </ng-container>
        <ng-template #proyectosTemplate>
            <p-carousel *ngIf="listaProyectos.length > 0" [value]="listaProyectos" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1" [responsiveOptions]="responsiveOptions">
                <ng-template let-proyecto pTemplate="item">

                    <mat-card style="margin: 5px;">
                        <mat-card-content *ngIf="proyecto.evidenciasActividad.length > 0">
                            <p-galleria [value]="proyecto.evidenciasActividad" [responsiveOptions]="responsiveOptions"
                                [containerStyle]="{'max-width': '100%'}" [numVisible]="2" [circular]="true"
                                [autoPlay]="true" [transitionInterval]="10000">
                                <ng-template pTemplate="item" let-item>
                                    <img [src]="item.archivo" style="width: 100%;" />
                                </ng-template>
                                <ng-template pTemplate="thumbnail" let-item>
                                    <div class="p-grid p-nogutter p-justify-center">
                                        <img [src]="item.archivo" style="width: 50%;" />
                                    </div>
                                </ng-template>
                            </p-galleria>
                        </mat-card-content>
                        <mat-card-content *ngIf="proyecto.evidenciasActividad.length <= 0">
                            <p-galleria [value]="evidenciaNoFound" [responsiveOptions]="responsiveOptions"
                                [containerStyle]="{'max-width': '100%'}" [numVisible]="2" [circular]="true"
                                [autoPlay]="true" [transitionInterval]="10000">
                                <ng-template pTemplate="item" let-item>
                                    <img [src]="item.archivo" style="width: 100%;" />
                                </ng-template>
                                <ng-template pTemplate="thumbnail" let-item>
                                    <div class="p-grid p-nogutter p-justify-center">
                                        <img [src]="item.archivo" style="width: 50%;" />
                                    </div>
                                </ng-template>
                            </p-galleria>
                        </mat-card-content>
                        <mat-card-title>{{ proyecto.nombre }}</mat-card-title>
                        <mat-card-subtitle>
                            <div><b>Descripción:</b>{{ proyecto.descripcion}}</div>
                            <div><b>Proyecto:</b> {{ proyecto.nombreProyecto}}</div>
                        </mat-card-subtitle>
                    </mat-card>

                </ng-template>
            </p-carousel>
        </ng-template>
    </div>
</div>