.tipo-archivo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.table-files{
    width: 100%;
    height: 100px;
    background: ghostwhite;
    overflow-y: auto;
}

.table-files table{
    width: 100%;
}

.custom-file div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn{
    float: right;
    margin-top: 15px;
}

.button {
    height: 50px;
}

input[type='file']{
    display: none;
}

.new-post{
    width: 35vw;
    overflow-x: hidden;
}

span{
    display: block;
}
.icon{
    font-size: 5vw;
    cursor: pointer;
}

.btn-accion{
    float: right;
}
