<div class="new-post">
    <h2><strong>Adjuntar Evidencia Proyecto</strong></h2>
    <form [formGroup]="form">
        <div class="input">
            <mat-form-field style="width: 100%;">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre Evidencia" formControlName="nombre" class="form-control"
                    name="nombre">
            </mat-form-field>
        </div>
        <div class="input">
            <mat-form-field class="datepicker" appearance="fill" style="width: 100%;">
                <mat-label>Fecha realización</mat-label>
                <input matInput formControlName="fechaRealizacion" [matDatepicker]="picker1">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
    </form>
    <mat-card>
        <div class="tipo-archivo">
            <div class="input-file" matTooltip="Click para adjuntar Archivos">
                <label class="custom-file">
                    <input type="file" multiple formControlName="imagen" (change)="handleArchivos($event)">
                    <mat-icon class="icon">collections_outline</mat-icon><span>Subir Archivos</span>
                </label>
            </div>
        </div>
        <div class="table-files">
            <table>
                <tr *ngFor="let item of archivosCargados; index as i">
                    <td> {{i+1}}
                    <td>{{item.name}}</td>
                    <td class="btn-accion" (click)="borrarEvidencia(i)">
                        <button mat-button matTooltip="Eliminar archivo">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>

        </div>
        <div class="button">
            <button class="btn" mat-raised-button color="primary" (click)="saveEvidencia()">Guardar</button>
        </div>
    </mat-card>
</div>

