
 <div class="container-cambio-contrasena">
  <h1>Enviar Encuesta</h1>
  <form [formGroup]="form">
    <div class="divInput">
        <mat-icon class="icono" aria-label="Side nav toggle icon">email</mat-icon>
        <mat-form-field class="input" appearance="fill">
        <mat-label>Correo</mat-label>
        <input matInput formControlName="correo"/>
        </mat-form-field>
    </div>      
    
    <div style="margin-left: 35px;">            
        <mat-form-field style="width: 100%;" class="select" appearance="fill" >
        <mat-label>Encuestas</mat-label>
        <mat-select formControlName="encuesta" >
            <mat-option *ngFor="let item of encuestas" [value]=item.id>{{item.nombre}}</mat-option>
        </mat-select>
        </mat-form-field>
    </div>
 

    <div>
        <button class="button-crear" mat-raised-button color="primary" (click)="enviarEncuesta()">
        Enviar
        </button>
    </div>
  </form>




 </div>     