<div class="contenedor">
    <mat-card class="matcard">
      <h1>Usuario</h1>
      <form [formGroup]="form">

        <div class="divInput">
            <mat-icon class="icono" aria-label="Side nav toggle icon">person</mat-icon>
            <mat-form-field class="input" appearance="fill">
            <mat-label>Nombres</mat-label>
            <input [disabled]="isLoading" matInput formControlName="nombre"/>
            </mat-form-field>
        </div>
        <div class="divInput">
            <mat-icon class="icono" aria-label="Side nav toggle icon">person</mat-icon>
            <mat-form-field class="input" appearance="fill">
            <mat-label>Apellidos</mat-label>
            <input [disabled]="isLoading" matInput formControlName="apellido"/>
            </mat-form-field>
        </div>
        <div class="divInput">
            <mat-icon class="icono" aria-label="Side nav toggle icon">mail_outline</mat-icon>
            <mat-form-field class="input" appearance="fill">
            <mat-label>Correo</mat-label>
            <input [disabled]="isLoading" matInput readonly formControlName="email"/>
            </mat-form-field>
        </div>
                     
        <div style="margin-left: 35px;">
            <mat-form-field style="width: 32%;" class="select" appearance="fill">
            <mat-label>Rol</mat-label>
            <mat-select [disabled]="isLoading" formControlName="rol" >
                <mat-option *ngFor="let item of rols" [value]=item.id>{{item.nombre}}</mat-option>
            </mat-select>
            </mat-form-field>
            <mat-form-field style="width: 32%;" class="select" appearance="fill" >
            <mat-label>Plan Estudios</mat-label>
            <mat-select [disabled]="isLoading" formControlName="planEst" >
                <mat-option *ngFor="let item of planesEst" [value]=item.id>{{item.nombre}}</mat-option>
            </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-icon class="icono" aria-label="Side nav toggle icon">verified</mat-icon>
            <mat-form-field style="width: 32%;" class="select" appearance="fill">
            <mat-label>Estado</mat-label>
            <mat-select [disabled]="isLoading" formControlName="estado">
                <mat-option value="ACTIVO">ACTIVO</mat-option>
                <mat-option value="INACTIVO">INACTIVO</mat-option>
            </mat-select>
            </mat-form-field>        
        </div>

        <div>
        </div>     
                     
            
          </form>
          <mat-card-footer style="padding: 16px;">
            <hr>
            <button [disabled]="isLoading" class="button-atras" mat-raised-button color="default" (click)="irAtras()">
              Atrás
            </button>
            <button [disabled]="isLoading" class="button-crear" mat-raised-button color="primary" (click)="actualizarUser()">
              <div style="color: white;" *ngIf="!isLoading; else proyectosTemplate">
                Guardar
              </div>
              <ng-template #proyectosTemplate>
                <div style="padding-top: 12px; padding-bottom: 12px;padding-left: 50px;">
                  <mat-spinner diameter="15"></mat-spinner>
                </div>
              </ng-template>
            </button>
          </mat-card-footer>
      
    </mat-card>
  
</div>
