.sidenav-container{
    height: 100%;
}

.sidenav{
    width: 230px;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.content{
    width: calc(100% - 241px - 100px);
    /* border-left: 1px solid #d2d6de; */
    margin: 30px auto;
}

.lista-menu a {
    color: #AA1916;
    font-weight: 500;
}

mat-icon,
.user span{
    margin-right: 5px;
}

.lista-menu-desplegable{
    padding-left: 10px;
    background: #F4F4F5;
}

.user {
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

@media (max-width: 600px) {
    .content{
        display: flex;
        justify-content: center;
    }
}
