<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'" [opened]="!(isHandset | async)!.matches">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list class="lista-menu">
      
      <!-- Menu Usuarios -->
      <a mat-list-item [routerLink]="['/dashboard/usuarios']" *ngIf="userRol === 'administrador' || userRol ==='super usuario'">
        <mat-icon aria-label="Side nav toggle icon">person</mat-icon>Usuarios        
      </a>
      
      <!-- Menu Proyectos -->
      <a mat-list-item [routerLink]="['/dashboard/proyectos']" *ngIf="userRol !== 'estudiante'">
        <mat-icon aria-label="Side nav toggle icon">feed</mat-icon>Proyectos        
      </a>

      <!-- Menu Actividades -->
      <a mat-list-item [routerLink]="['/dashboard/actividades']">
        <mat-icon aria-label="Side nav toggle icon">local_activity</mat-icon>Actividades        
      </a>     

      <!-- Menu Convenios -->
      <a mat-list-item [routerLink]="['/dashboard/consultar-convenios']" *ngIf="userRol !== 'estudiante'">
        <mat-icon aria-label="Side nav toggle icon">receipt_long</mat-icon>Convenios
      </a>

      <!-- Menu Encuestas -->
      <a mat-list-item [routerLink]="['/dashboard/consultar-encuestas']" *ngIf="userRol !== 'estudiante'">
        <mat-icon aria-label="Side nav toggle icon">quiz</mat-icon>Encuestas
      </a>

      <!-- Menu Landing -->
      <a mat-list-item [routerLink]="['/dashboard/landing-config']" *ngIf="userRol === 'administrador'">
        <mat-icon aria-label="Side nav toggle icon">edit_note</mat-icon>LandingPage
      </a>

      <!-- Menu Informes -->
      <a mat-list-item [routerLink]="['/dashboard/informes']" *ngIf="userRol === 'administrador'">
        <mat-icon aria-label="Side nav toggle icon">assignment</mat-icon>Informes
      </a>
    

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar" color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img style="width: 45px; padding-bottom: 6px;" src="https://proyectando-img.s3.us-east-2.amazonaws.com/logo_ingsistemas.png" alt="logo ing sistemas ufps">
      <span style="margin-left: 15px;">Proyectando</span>

      <div class="user">
        <button mat-button [matMenuTriggerFor]="beforeMenu">
          <mat-icon style="margin-top: 4px;">account_circle</mat-icon>
          <span>{{name}}</span>
          <mat-icon style="margin-left: auto;">expand_more</mat-icon>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button mat-menu-item (click)="verPerfil()">
            <mat-icon>person</mat-icon> Perfil
          </button>
          <button style="color: red;" mat-menu-item (click)="logout()">
            <mat-icon style="color: red;">logout</mat-icon> Salir
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>