<div class="login">
    <div class="card-login">
      <div class="encabezado">
        <h1>PROYECTANDO ENCUESTA</h1>
      </div>
      <form class="form" [formGroup]="form">
        <h3>Ingresa las credenciales enviadas a tu correo para iniciar sesión</h3>
      
   
        <div>
          <mat-icon aria-label="Side nav toggle icon">mail_outline</mat-icon>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="email" formControlName="email" class="form-control"  name="email">
          </mat-form-field>
        </div>
        <div>
          <mat-icon aria-label="Side nav toggle icon">lock_outline</mat-icon>
          <mat-form-field appearance="fill">
            <mat-label>Ingrese su contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Contraseña" formControlName="password" class="form-control"  name="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="btnSubmit">
          <button id="btn" mat-raised-button (click)="submit()" color="primary">Iniciar Sesión</button>
        </div>
        
      </form>      
  </div>
  
