
@import '~@angular/material/theming';

@include mat-core();

$Frontend-Proyectando-primary: mat-palette($mat-red, 950);
$Frontend-Proyectando-accent: mat-palette($mat-green, 500, A100, A400);
$Frontend-Proyectando-warn: mat-palette($mat-orange);
$Frontend-Proyectando-basic: mat-palette($mat-grey, 900);

$Frontend-Proyectando-theme: mat-light-theme((
  color: (
    primary: $Frontend-Proyectando-primary,
    accent: $Frontend-Proyectando-accent,
    warn: $Frontend-Proyectando-warn,
    basic: $Frontend-Proyectando-basic,
  )
));

@include angular-material-theme($Frontend-Proyectando-theme);

