* {
  box-sizing: content-box;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  position: relative;
  bottom: 0;
  background: #272727;
  display: flex;
  flex-direction: row;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 900;
}

mat-sidenav {
  width: 200px;
  cursor: pointer;
  background-color: white;
  position: fixed;
  top: 55px;
  z-index: 1000;
  box-shadow: 3px 0 6px rgb(0 0 0 / 24%);
}

.lista {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

h2 {
  color: white;
  border-bottom: 2px solid #aa1916;
  margin-bottom: 20px;
  margin-top: 20px;
}

.lista a {
  padding: 8px 0;
  border-top: 1px solid #353535;
  color: white;
  white-space: initial;
}

p {
  white-space: initial;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.lista-menu a {
  color: #f44336;
  font-weight: 500;
}

.toogle {
  display: none;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.footer-container div {
  width: 25%;
  margin-left: 20px;
  margin-right: 20px;
}

.men-lateral{
  width: 350px;
  position: fixed;  
  top: 15%;
  right: 3%;
  z-index: 500;
}
.men-lateral a{
  box-shadow: 3px 0 6px rgb(0 0 0 / 24%);
  margin: 10px;
  border-left: 50px solid #B43432;
  border-right: 50px solid #B43432;
  border-bottom: 35px solid transparent;
  /* -moz-border-radius: 15% 0;
  -webkit-border-radius: 15% 0; */
  border-radius: 5% 0 0 0 / 30% 0 0 0 ;
  font-size: x-large;
  height: 42px;
}

.men-lateral a:hover{
  box-shadow: 3px 0 6px #b4343288;
}




@media (max-width: 600px) {
  .toogle {
    display: block;
  }
  .men-lateral {
    display: none;
  }

  .logo-header {
    display: none;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .footer-container div {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.raisen:hover,
.raisen:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateX(-0.55em);
          transform: translateX(-0.55em);
}

.raisen {
  --color: #AA1916;
  --hover: #AA1916;
}

mat-nav-list a {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}





