<mat-toolbar class="navbar" color="primary">
  <div style="display: flex; flex-direction: row;">
    <span class="toogle" (click)="opened = !opened">
      <mat-icon>menu</mat-icon>
    </span>
    <img class="logo-header" style="width: 35px;" src="{{logo.informacion}}">
    <button class="btn-menu" style="font-size: x-large;" mat-button routerLink="{{'/proyectando/' + params.parametro + '/inicio'}}" (click)="menuProyeccion = true">Proyectando</button>
  </div>

  <div class="menu">
    <!-- <button class="btn-menu" routerLink="/proyectando/politicas" mat-button (click)="menuProyeccion = false">Política</button>
    <button class="btn-menu" routerLink="/proyectando/principios" mat-button (click)="menuProyeccion = true">Principios</button>
    <button class="btn-menu" mat-button (click)="menuProyeccion = true">Proyección Social</button> -->
    <button class="btn-menu" routerLink="/proyectando/ingSistemas/contacto" mat-button (click)="menuProyeccion = false">Contacto</button>
    <button class="btn-login" routerLink="/login" mat-raised-button>Login</button>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sideNav [(opened)]="opened" mode="side">
    <mat-nav-list class="lista-menu">
      <!-- Menu Usuarios -->
      <a mat-list-item>
        <mat-icon aria-label="Side nav toggle icon">person</mat-icon>Política
      </a>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-nav-list class="lista-menu">
      <!-- Menu Usuarios -->
      <a mat-list-item>
        <mat-icon aria-label="Side nav toggle icon">person</mat-icon>Principios
      </a>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-nav-list class="lista-menu">
      <!-- Menu Usuarios -->
      <a mat-list-item>
        <mat-icon aria-label="Side nav toggle icon">person</mat-icon>Proyección Social en el aula
      </a>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-nav-list class="lista-menu">
      <!-- Menu Usuarios -->
      <a mat-list-item>
        <mat-icon aria-label="Side nav toggle icon">person</mat-icon>Educación continua
      </a>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-nav-list class="lista-menu">
      <!-- Menu Usuarios -->
      <a mat-list-item>
        <mat-icon aria-label="Side nav toggle icon">person</mat-icon>Practica de Sistemas
      </a>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-nav-list class="lista-menu">
      <!-- Menu Usuarios -->
      <a mat-list-item>
        <mat-icon aria-label="Side nav toggle icon">person</mat-icon>Proyección social en cifras
      </a>
    </mat-nav-list>
    <br><br>
    <mat-divider></mat-divider>
    <mat-nav-list class="lista-menu">
      <!-- Menu Usuarios -->
      <a mat-list-item>
        <mat-icon aria-label="Side nav toggle icon">person</mat-icon>Login
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-container *ngIf="isLoading; else routerInnicio">
      <mat-spinner class="loading"></mat-spinner>
    </ng-container>
    <ng-template #routerInnicio>
      <router-outlet></router-outlet>
    </ng-template>
  </mat-sidenav-content>

</mat-sidenav-container>

<div class="men-lateral" *ngIf="menuProyeccion">
  
    <mat-nav-list>
      <a *ngFor="let nav of listaNavegacion" class="raisen" routerLink="{{'/proyectando/' + params.parametro + nav.key}}" (click)="menuProyeccion = true"mat-list-item>{{nav.titulo}}</a>
    </mat-nav-list>
  
</div>

<mat-toolbar class="footer">

  <div class="footer-container">
    <div>
      <img style="width: 15vw;" src="{{logo.informacion}}" alt="{{logo.titulo}}">
    </div>
    <div>
      <h2>Visitantes</h2>
      <mat-nav-list class="lista">
        <a mat-list-item>hoy: 6</a>
        <a mat-list-item>ultimo mes: 18</a>
        <a mat-list-item>desde el principio: 24</a>
      </mat-nav-list>
    </div>
    <div>
      <h2>Enlaces de Interés</h2>
      <mat-nav-list class="lista">
        <a mat-list-item href="http://gidis.ufps.edu.co/dsiwebsite/public/">Sitio Web-Departamento de Sistemas</a>
        <a mat-list-item href="http://biblioteca.ufps.edu.co/">Biblioteca Eduardo Cote Lamus</a>
        <a mat-list-item href="http://200.93.148.47/bienestar/">Vicerrectoría de Bienestar Universitario</a>
        <a mat-list-item href="https://ingsistemas.cloud.ufps.edu.co/index.php?id=27">Cronograma del Comité
          Curricular</a>
        <a mat-list-item href="https://www.facebook.com/IngSistUFPS/?fref=ts">Facebook</a>
        <a mat-list-item href="http://www.youtube.com/">Canal UFPS en YouTube</a>
      </mat-nav-list>
    </div>
    <div>
      <h2>Visitantes</h2>
      <mat-nav-list class="lista">
        <p>Avenida Gran Colombia No. 12E-96 Barrio Colsag,
          San José de Cúcuta - Colombia <br>
          Teléfono (057)(7) 5776655 <br><br>

          Solicitudes y correspondencia <br>
          Unidad de Gestión Documental </p>
        <p style="color: #aa1916;">ugad@ufps.edu.co</p>

        <p>Uso único y exclusivo para notificaciones judiciales: </p>
        <p style="color: #aa1916;">notificacionesjudiciales@ufps.edu.co</p>
        
      </mat-nav-list>
    </div>
  </div>

</mat-toolbar>