<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows matTableExporter
    #exporter="matTableExporter">
    <ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay;let i=index">
      <th [hidden]="!hiddenColumn[i]" mat-header-cell *matHeaderCellDef>{{ columns[i] }}</th>
      <td [hidden]="!hiddenColumn[i]" class="fila" mat-cell *matCellDef="let element">{{
        typeOf(element[column]) }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay" class="example-element-row"></tr>
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <ng-container *ngIf="load; else proyectosTemplate">
        <td style="height: 30px;" class="mat-cell" colspan="4">
          Aún no tienes proyectos
        </td>
      </ng-container>
      <ng-template #proyectosTemplate>
        <td style="height: 250px;" class="mat-cell" colspan="4">
          <mat-spinner class="loading"></mat-spinner>
        </td>
      </ng-template>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<div style="padding-top: 16px;">
  <button class="button-crear" style="color: white; background-color: green;" mat-raised-button
    (click)="exporter.exportTable('xlsx', {fileName:'proyectos-proyectando-ufps', sheet: 'sheet_name', Props: {Author: 'proyectando'}})">Excel</button>
  <button class="button-crear" style="margin-right: 2px; color: white;" mat-raised-button
    (click)="exporter.exportTable('csv', {fileName:'proyectos-proyectando-ufps', Props: {Author: 'proyectando'}})" color="accent">csv</button>
  <button class="button-crear" style="margin-right: 2px; color: white;" color="warn" mat-raised-button
    (click)="exporter.exportTable('txt', {fileName:'proyectos-proyectando-ufps', Props: {Author: 'proyectando'}})">txt</button>
</div>