.contenedor { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input,
.contenedor div{
    width: 100%;    
}

.select,
.datepicker {
    margin-right: 15px;
}

.button{
    margin-left: 15px;
    margin-top: 10px;
    width: 160px;
}

.button-crear{
    float: right;
    width: 140px;
    margin-top: 10px;
}

.button-atras{
    float: left;
    width: 140px;
    margin-top: 10px;
}

.matcard{
margin: auto;
width: 80%;
}

.divInput{
    display: flex;
    flex-direction: row;
}

.icono {
    margin-right: 10px;
    margin-top: 15px;
}


input.input-monto::-webkit-outer-spin-button,
input.input-monto::-webkit-inner-spin-button {
  display: none;
}

@media (max-width: 600px) {
    .matcard{
        width: auto;
    }
}