.contenedor { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  table {
    width: 100%;
  }

  .loading{
    margin: 50px auto;    
  }
  
  .input,
  .contenedor div{
    width: 100%;    
  }
  
  .button-atras{
    float: left;
    width: 140px;
  }
  
  .select,
  .datepicker {
    margin-right: 15px;
  }
  
  .button{
    margin-top: 10px;
    width: 160px;
    color: white;
  }
  
  .button-crear{
    float: right;
    width: 100px;
  }
  
  .matcard{
  margin: auto;
  width: 100%;
  }
  
  .divInput{
    display: flex;
    flex-direction: row;
  }
  
  .icono {
    margin-right: 10px;
    margin-top: 15px;
  }
  
  .toggle {
    margin-left: 35px; 
    padding-bottom: 20px;
    padding-top: 15px;
  }

  
  
  @media (max-width: 600px) {
    .matcard{
        width: auto;
    }
  }