<div class="contenedor">
    <mat-card class="matcard">
      <h1 style="margin: 15px">Contactanos</h1>
      <form [formGroup]="form">
        <div class="divInput">
            <mat-icon class="icono" aria-label="Side nav toggle icon">person</mat-icon>
            <mat-form-field class="input" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre"/>
            </mat-form-field>
        </div> 

        <div class="divInput">
            <mat-icon class="icono" aria-label="Side nav toggle icon">email</mat-icon>
            <mat-form-field class="input" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
            </mat-form-field>
        </div>

        <div class="divInput">
            <mat-icon class="icono" aria-label="Side nav toggle icon">send</mat-icon>
            <mat-form-field class="input" appearance="fill">
            <mat-label>Asunto</mat-label>
            <input matInput formControlName="asunto" />
            </mat-form-field>
        </div> 
        
        <div class="divInput">
            <mat-icon class="icono" aria-label="Side nav toggle icon">description</mat-icon>
            <mat-form-field class="input" appearance="fill">
            <mat-label>Mensaje</mat-label>
            <textarea matInput formControlName="mensaje"></textarea>
            </mat-form-field>
        </div>
                 
  
      <div>
        <button class="button-crear" mat-raised-button color="primary" (click)="enviar()">
          Enviar
        </button>
      </div>
    </form>
    </mat-card>

    <mat-card class="matcard-mapa">
      <mat-card-header>
        <mat-card-title>Nuestra ubicación</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3951.9716123310955!2d-72.4892918859007!3d7.898034507850487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6645102f9b7269%3A0xab4b03ed6c85830e!2sUniversidad%20Francisco%20de%20Paula%20Santander!5e0!3m2!1ses!2sco!4v1623304479222!5m2!1ses!2sco" 
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
      </iframe>
    </mat-card-content>
      
    </mat-card>
  </div>
