.contenedor { 
    
    margin: 50px auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.input,
.contenedor div{
    width: 100%;    
}

.button-crear{
    float: right;
    width: 140px;
    margin-top: 10px;
}

.matcard{
margin-left: 5%;
margin-right: 5%;
width: 80%;
}

.matcard-mapa{
    margin-right: 5%;
width: 80%;
}

.divInput{
    display: flex;
    flex-direction: row;
}

textarea{
height: 100px;
}

.icono {
    margin-right: 10px;
    margin-top: 15px;
}


input.input-monto::-webkit-outer-spin-button,
input.input-monto::-webkit-inner-spin-button {
  display: none;
}

@media (max-width: 800px) {
    .contenedor { 
    
        margin: 50px auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .matcard{        
        width: auto;
    }

    .matcard-mapa {
        width: auto;
        margin-top: 20px;
        margin-left: 5%;
    }
}