<div class="contenedor">
    <mat-card class="matcard">
        <h1>Informes</h1>
        <form class="ng-untouched ng-pristine ng-valid">
            <div class="divInput">
                <mat-form-field appearance="fill">
                    <mat-label>Tipo Informe</mat-label>
                    <mat-select [disabled]="isLoading" [(value)]="form.tipoInforme" class="form-control" name="tipo">
                        <mat-option *ngFor="let tipo of listaTipos" [value]="tipo" (click)="changeShowFormulario()">
                            {{tipo}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="form.tipoInforme != ''">
                <mat-form-field class="datepicker" style="width: 47%;" appearance="fill">
                    <mat-label>Fecha Inicio</mat-label>
                    <input readonly  [max]="fechaMaxima" matInput [matDatepicker]="picker1"
                        (dateInput)="setFecha('inicio',$event)">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="datepicker" style="width: 47%;" appearance="fill">
                    <mat-label>Fecha Fin</mat-label>
                    <input readonly [min]="fechaMinima" matInput [matDatepicker]="picker2"
                        (dateInput)="setFecha('fin',$event)">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="divInput" *ngIf="form.tipoInforme != 'Encuestas' && form.tipoInforme != ''">
                <mat-form-field style="width: 100%;" class="select" appearance="fill">
                    <mat-label>{{ form.tipoInforme == 'Usuarios' ? 'Usuarios Activos' : form.tipoInforme + '
                        Aprobados'}}</mat-label>
                    <mat-select [disabled]="isLoading" [(value)]="form.aprobados">
                        <mat-option *ngFor="let tipo of listaAprobados" [value]="tipo.value" (click)="changeShowFormulario()">{{ tipo.text }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="form.tipoInforme == 'Encuestas'" class="divInput">
                <mat-form-field style="width: 100%;" class="select" appearance="fill">
                    <mat-label>Encuesta</mat-label>
                    <mat-select [(value)]="form.encuesta">
                        <mat-option *ngFor="let item of listaEncuestas" [value]="item.id" (click)="changeShowFormulario()">{{item.nombre}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
        <mat-card-footer *ngIf="form.tipoInforme != ''" style="padding: 16px;">
            <hr>
            <button class="button-crear" mat-raised-button color="primary" (click)="generarDatos()">
                Generar
            </button>
        </mat-card-footer>
    </mat-card>
    <div style="margin-top: 15px;"  *ngIf="showFormulario" class="matcard">
        <app-informes-proyectos *ngIf="form.tipoInforme == 'Proyectos'"></app-informes-proyectos>
        <app-informes-actividades *ngIf="form.tipoInforme == 'Actividades'"></app-informes-actividades>
        <app-informes-convenios *ngIf="form.tipoInforme == 'Convenios'"></app-informes-convenios>
        <app-informes-encuestas *ngIf="form.tipoInforme == 'Encuestas'"></app-informes-encuestas>
        <app-informes-usuarios *ngIf="form.tipoInforme == 'Usuarios'"></app-informes-usuarios>
    </div>
</div>