<div class="contenedor">
    <mat-card class="matcard">
      <h1>Proyecto</h1>
      <form [formGroup]="form">
        <div class="divInput">
            <mat-icon class="icono" aria-label="Side nav toggle icon">person</mat-icon>
            <mat-form-field class="input" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input [disabled]="isLoading" matInput formControlName="nombre">
            </mat-form-field>
        </div> 
        
        <div class="divInput">
            <mat-icon class="icono" aria-label="Side nav toggle icon">description</mat-icon>
            <mat-form-field class="input" appearance="fill">
            <mat-label>Descripción</mat-label>
            <textarea [disabled]="isLoading" matInput formControlName="descripcion"></textarea>
            </mat-form-field>
        </div>
        
        <div style="margin-left: 35px;">
            <mat-form-field style="width: 32%;" class="select" appearance="fill">
            <mat-label>Proceso Misional</mat-label>
            <mat-select [disabled]="isLoading" formControlName="procesoMisional" >
                <mat-option *ngFor="let item of procesosMisionales" [value]=item.id>{{item.nombre}}</mat-option>
            </mat-select>
            </mat-form-field>
            <mat-form-field style="width: 32%;" class="select" appearance="fill" >
            <mat-label>Tipo de Proyecto</mat-label>
            <mat-select [disabled]="isLoading" formControlName="tipoProyecto" >
                <mat-option *ngFor="let item of tiposProyecto" [value]=item.id>{{item.nombre}}</mat-option>
            </mat-select>
            </mat-form-field>
        </div>
    
        <div style="margin-left: 35px;">
            <mat-form-field class="datepicker" appearance="fill">
            <mat-label>Fecha inicio</mat-label>
            <input [disabled]="isLoading" matInput formControlName="fechaInicio" [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="datepicker" appearance="fill">
            <mat-label>Fecha fin</mat-label>
            <input [disabled]="isLoading" matInput formControlName="fechaFin" [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>      
        </div>
    
        <div class="divInput">
            <mat-icon class="icono" aria-label="Side nav toggle icon">monetization_on_outline</mat-icon>
            <mat-form-field class="input" appearance="fill">
            <mat-label>Monto</mat-label>
            <input [disabled]="isLoading" matInput formControlName="monto" />
            </mat-form-field>
        </div>
        
        <div class="divInput">
            <mat-icon class="icono" aria-label="Side nav toggle icon">groups</mat-icon>
            <mat-form-field class="input" appearance="fill">
            <mat-label>Beneficiarios</mat-label>
            <input [disabled]="isLoading" matInput formControlName="beneficiarios" />
            </mat-form-field>
        </div>

        <div *ngIf="userRol == 'administrador'">
            <mat-icon class="icono" aria-label="Side nav toggle icon">verified</mat-icon>
            <mat-form-field style="width: 32%; margin-right: 50px;" class="select" appearance="fill">
            <mat-label>Aprobar proyecto</mat-label>
            <mat-select [disabled]="isLoading" formControlName="aprobarProyecto">
                <mat-option value="SI">Si</mat-option>
                <mat-option value="NO">No</mat-option>
            </mat-select>
            </mat-form-field>
            <mat-icon class="icono" aria-label="Side nav toggle icon">visibility</mat-icon>
            <mat-form-field style="width: 32%;" class="select" appearance="fill">
            <mat-label>Divulgar proyecto</mat-label>
            <mat-select [disabled]="isLoading" formControlName="mostrarProyecto">
                <mat-option value="SI">Si</mat-option>
                <mat-option value="NO">No</mat-option>
            </mat-select>
            </mat-form-field>    
        </div>

        <div *ngIf="userRol == 'administrador'"> 
        </div>
        <div style="margin-left: 20px;">
          <button [disabled]="isLoading" class="button" mat-raised-button color="accent" (click)="adjuntarEvidencia()">
            Agregar Evidencias
          </button>
          <button *ngIf="userRol !== 'super usuario'" [disabled]="isLoading" class="button" mat-raised-button color="accent" (click)="adjuntarEncuesta()">
            Enviar Encuesta
          </button>  
        </div>
      </form>
      <mat-card-footer style="padding: 16px;">
        <hr>
        <button [disabled]="isLoading" class="button-atras" mat-raised-button color="default" (click)="irAtras()">
          Atrás
        </button>
        <button [disabled]="isLoading" class="button-crear" mat-raised-button color="primary" (click)="guardarProyecto()">
          <div style="color: white;" *ngIf="!isLoading; else proyectosTemplate">
            Guardar
          </div>
          <ng-template #proyectosTemplate>
            <div style="padding-top: 12px; padding-bottom: 12px;padding-left: 50px;">
              <mat-spinner diameter="15"></mat-spinner>
            </div>
          </ng-template>
        </button>
      </mat-card-footer>
    </mat-card>
  </div>
