.contenedor { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input,
.contenedor div{
    width: 100%;    
}
.button-atras{
    float: left;
    width: 140px;
    margin-top: 10px;
}

.select,
.datepicker {
    margin-right: 15px;
}

.button{
    opacity: 0.9;
    margin-left: 15px;
    margin-top: 10px;
    width: 160px;
    color: white;
}

.button-crear{
    float: right;
    width: 140px;
    margin-top: 10px;
}

.matcard{
margin: auto;
width: 80%;
}

.divInput{
    display: flex;
    flex-direction: row;
}

.icono {
    margin-right: 10px;
    margin-top: 15px;
}

.toggle {
    margin-left: 35px; 
    padding-bottom: 20px;
    padding-top: 15px;
}

@media (max-width: 600px) {
    .matcard{
        width: auto;
    }
}