.login {
  background: whitesmoke;
  height: 100%;
  display: flex;
}

.card-login {
  width: 360px;
  height: 528px;
  margin: auto;
  background-color: white;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  display: flex;
  flex-direction: column;
}

.encabezado {
  margin-top: 10px;
  height: 71px;
  width: 100%;
  background-color: #AA1916;
  color: white;
  text-align: center;
}

.encabezado h1 {
  padding-top: 20px;
  font-weight: 500;
}
.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

.form div {
  display: flex;
  flex-direction: row;
}

.btnSubmit {
  margin: auto;
  padding-top: 50px;
}
#btn {
  width: 120px;
}

h3 {
  text-align: center;
}

mat-form-field {
  width: 100%;
}

mat-icon {
  margin-right: 5px;
  margin-top: 15px;
}

.opciones {
  margin: 10px auto 50px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.opciones a{
  color: #AA1916; 
  padding-top: 20px;
}
