.dashboard{
    display: flex;
    flex-direction: row;
    height: 100%;
    
    background-color:whitesmoke;
}

.menu{
    width: 230px;
    background-color: #f9fafc;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    
}


