<div class="btn-actividad">
  <button *ngIf="!btnDisabled" style="color: white;" mat-raised-button color="accent" routerLink="/dashboard/crear-actividad">Crear
    Actividad</button>
  <button *ngIf="btnDisabled" style="color: white;" mat-raised-button disabled >Crear Actividad</button>
  <!-- <button mat-button color="primary">
    <mat-icon>description</mat-icon> Generar Informe
  </button> -->
</div>
<!-- Tabla proyectos -->
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input />
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
    <ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay;let i=index"> 
      <th mat-header-cell *matHeaderCellDef>{{ columns[i] }}</th>
      <td class="fila" matTooltip="Click para ver mas información" mat-cell *matCellDef="let element">{{ typeOf(element[column]) }}</td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail" [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          ">
          <div class="example-element-description">
            <span class="example-element-description-attribution">Descripción:
            </span>
            {{ element.descripcion }}
          </div>
          <div class="btn-accion">
            <button mat-raised-button color="primary" (click)="verActividad(element)">
              Ver Actividad
            </button>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay" class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <ng-container *ngIf="load; else proyectosTemplate">
        <td style="height: 30px;" class="mat-cell" colspan="3">
          Aún no tienes actividades 
        </td>
      </ng-container>
      <ng-template #proyectosTemplate>
        <td style="height: 250px;" class="mat-cell" colspan="3">
          <mat-spinner class="loading"></mat-spinner>
        </td>
      </ng-template>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>