<div class="btn-convenio">
    <button *ngIf="!btnDisabled" style="color: white;" mat-raised-button color="accent" routerLink="/dashboard/crear-encuesta">Crear
      Encuesta</button>
    <button *ngIf="btnDisabled" style="color: white;" mat-raised-button disabled>Crear Encuesta</button>
    <!-- <button mat-button color="primary">
      <mat-icon>description</mat-icon> Generar Informe
    </button> -->
  </div>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>  
      
      <!-- <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i = index">
        <th mat-header-cell *matHeaderCellDef> {{columnas[i]}} </th>
        <td class="fila" matTooltip="Click para ver mas información" mat-cell *matCellDef="let element"
          (click)="verEncuesta(element)"> {{typeOf(element[column])}}           
        </td>      
          
      </ng-container> -->

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td class="fila" matTooltip="Click para ver mas información" mat-cell *matCellDef="let element"
        (click)="verEncuesta(element)"> {{typeOf(element.nombre)}}    </td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td class="fila" matTooltip="Click para ver mas información" mat-cell *matCellDef="let element"
        (click)="verEncuesta(element)"> {{typeOf(element.estado)}}    </td>
      </ng-container>

      <ng-container matColumnDef="fechaRealizacion">
        <th mat-header-cell *matHeaderCellDef> Fecha Realizacion </th>
        <td class="fila" matTooltip="Click para ver mas información" mat-cell *matCellDef="let element"
        (click)="verEncuesta(element)"> {{typeOf(element.fechaRealizacion)}}    </td>
      </ng-container>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef> Opciones </th>
        <td mat-cell *matCellDef="let element"> <button style="color: white;" (click)="verRespuesta(element)" mat-raised-button color="accent">Ver Respuestas</button>    </td>
      </ng-container>
      
      

      
  
  
      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <ng-container *ngIf="load; else proyectosTemplate">
          <td style="height: 30px;" class="mat-cell" colspan="4">
            Aún no tienes encuestas
          </td>
        </ng-container>
        <ng-template #proyectosTemplate>
          <td style="height: 250px;" class="mat-cell" colspan="4">
            <mat-spinner class="loading"></mat-spinner>
          </td>
        </ng-template>
      </tr>
  
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>