table {
    width: 100%;
  }
  
  .fila:hover{
    cursor: pointer;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td,
  th {
    width: 25%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  .btn-accion{
    width: 100%;
  }
  
  .btn-accion button{
    float: right;
    margin-top: 25px;
  }
  
  .loading{
    margin: auto;
  }
  
  .btn-convenio{
    display: flex; 
    flex-direction: row;     
    justify-content: space-between; 
    margin-top: 70px; 
    margin-bottom: 20px;
  }
  