<div class="contenedor">
    <div class="tarjetas">
        <div class="flex-item">
        <div class= "tarjeta">
            <div class="logo" style="background:rgb(255, 191, 71);">
                <mat-icon style="color: white; font-size: 400%; margin: 20px;">feed</mat-icon>
            </div>
            <div class="carta">
                <div style="height: 100px; width: 100%; text-align: right;">
                    <h1 style="margin-right: 10px; margin-top: 10px;">Proyectos</h1>
                    <span style="font-size: xxx-large; font-weight: 600; margin-right: 40px; ">{{proyectos.length}}</span>
                </div>
                <div style="height: 30px; width: 100%; border-top: 2px solid ghostwhite; margin: 5px;">
                    <button color="primary" (click)="irProyectos()" mat-icon-button aria-label="Ver evidencia">
                        Ver Proyectos <mat-icon class="icono" aria-label="Side nav toggle icon">double_arrow</mat-icon>
                    </button>
                </div>  
                
            </div>
        </div>
        </div>
        <div class="flex-item">
        <div class= "tarjeta">
            <div class="logo" style="background:tomato;">
                <mat-icon style="color: white; font-size: 400%; margin: 20px;">local_activity</mat-icon>
            </div>
            <div class="carta">
                <div style="height: 100px; width: 100%; text-align: right;">
                    <h1 style="margin-right: 10px; margin-top: 10px;">Actividades</h1>
                    <span style="font-size: xxx-large; font-weight: 600; margin-right: 40px; ">{{actividades.length}}</span>
                </div>
                <div style="height: 30px; width: 100%; border-top: 2px solid ghostwhite; margin: 5px;">
                    <button color="primary" (click)="irActividades()" mat-icon-button aria-label="Ver evidencia">
                        Ver Actividades <mat-icon class="icono" aria-label="Side nav toggle icon">double_arrow</mat-icon>
                    </button>
                </div>  
                
            </div>
        </div>
        </div>
        <div class="flex-item">
        <div class= "tarjeta">
            <div class="logo" style="background:rgb(71, 255, 86);">
                <mat-icon style="color: white; font-size: 400%; margin: 20px;">receipt_long</mat-icon>
            </div>
            <div class="carta">
                <div style="height: 100px; width: 100%; text-align: right;">
                    <h1 style="margin-right: 10px; margin-top: 10px;">Convenios</h1>
                    <span style="font-size: xxx-large; font-weight: 600; margin-right: 40px; ">{{convenios.length}}</span>
                </div>
                <div style="height: 30px; width: 100%; border-top: 2px solid ghostwhite; margin: 5px;">
                    <button color="primary" (click)="irConvenios()" mat-icon-button aria-label="Ver evidencia">
                        Ver Convenios <mat-icon class="icono" aria-label="Side nav toggle icon">double_arrow</mat-icon>
                    </button>
                </div>  
                
            </div>
        </div>
        </div>

    </div>
    
</div>
