.contenedor { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -150px;
}

.tarjetas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-item {
    padding: 10px;
    height: 200px;
    flex: 50%;
}
@media (max-width: 1000px) {
    
    .tarjetas{
        display: block;
    }
  }

.carta{
    background: white;
    position: absolute;
    width: 300px;
    margin: 20px ;
    left: 40px; top: 40px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
}

.logo{
    width: 100px;
    height: 100px;    
    position: absolute;
    z-index: 1000;
    left: 80px;
    top: 32px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
}

.tarjeta{
    width: 300px;
    position: relative;
}

.verMas{
    font-weight: 500;
    margin: 20px;
}